PORT=3001
ADMIN_PASSWORD=admin
JWT_SECRET=supersecretkey_change_in_production
DB_PATH=./db/portfolio.db

SMTP_HOST=smtp
SMTP_PORT=587
SMTP_USER=YOUR_MAIL_ID
SMTP_PASS=YOUR_MAIL_PASSWORD
ADMIN_EMAIL=YOUR_ADMIN_EMAIL

# Supabase Configuration
SUPABASE_URL=your_project_url
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
# Optional: If using Supabase for Auth
SUPABASE_JWT_SECRET=your_jwt_secret